.layout-container {
    min-height: auto;
    display: flex;
    flex-direction: column;
 
    // Main content
    .layout-main {
        flex-grow: 1;
        margin-left: 276px; // default for open sidebar
        transition: margin-left 0.3s ease;
 
        // default for large desktops
        @media (min-width: 992px) {
&.sidebar-open {
                margin-left: 276px;
            }
 
            &.sidebar-collapsed {
                margin-left: 79px;
            }
        }
 
        // small devices (sidebar overlays, so no margin)
        @media (max-width: 992px) {
            margin-left: 0 !important;
            margin-top: 57px;
            padding: 0;
        }
    }
}
 
// Body scroll handles main content
html,
body {
    height: 100%;
    overflow-y: auto;
}
 
.layout-main {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}