@use '../../../variables.scss' as *;

.language-header {
    background: #f8fafc;
    border-radius: 12px;

    /* TOP ROW */
    .language-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .language-title-count {
        display: flex;
        align-items: center;
        gap: 8px;

        .language-title {
            font-family: $font-family-main;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: -4%;
            vertical-align: middle;
            color: $subheading-color;
            margin-bottom: 0;
        }

        .language-count {
            background: #e5e7eb;
            padding: 2px 8px;
            border-radius: 999px;
            font-size: 14px;
            font-weight: 500;
        }
    }

    /* ACTION ROW */
    .language-header-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .search-input {
            max-width: 420px;
            height: 40px;
            padding-top: 10px;
            padding-right: 16px;
            padding-bottom: 10px;
            padding-left: 16px;
            border-radius: 32px;
            border-width: 1px;
            border: 1px solid $color-border;
            box-shadow: 0px 11px 7px 0px $color-input-shadow;

        }

        .status-dropdown {
            display: inline-flex;
            align-items: center;
            max-width: 169px;
            height: 40px;
            gap: 6px;
            padding-top: 10px;
            padding-right: 12px;
            padding-bottom: 10px;
            padding-left: 16px;
            border-radius: 32px;
            border-width: 1px;
            border: 1px solid $color-border;
            box-shadow: 0px 11px 7px 0px $color-input-shadow;

        }
    }
}