@use "../../../src/variables" as *;
 
.header {
    width: 100%;
    min-height: 56px;
    padding: 10px 16px;
    border-bottom: 1px solid $border-bottom;
    background: $header-bg !important;
    border-radius: 12px 12px 0 0;
    // position: sticky;
    // top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
}
 
.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
 
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    min-width: 0;
    margin-bottom: 0 !important;
 
    .breadcrumb-left {
        display: flex;
        align-items: center;
        gap: 8px;
 
        .back-btn-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px;
            border: 1px solid $color-table-border;
            background-color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
 
            .breadcrumb-back-arrow {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
        }
    }
 
    .count-badge {
        background: $menu-active-bg;
        padding: 4px 10px;
        border-radius: 6px;
        font-size: 13px;
        color: $color-badge-text-primary;
        font-weight: 500;
        margin-left: 6px;
        white-space: nowrap;
    }
}
 
.breadcrumb-icon {
    max-width: 24px;
    min-width: 24px;
    height: 24px;
    flex-shrink: 0;
}
 
.breadcrumb-title {
    text-decoration: none;
    display: flex;
    align-items: center;
 
    h2 {
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 16px;
        color: $breadcrumb-title;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }
}
 
.breadcrumb-arrow {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
 
.add-worker-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 36px !important;
    padding: 12px;
    background-color: $color-white;
    border: 1px solid #ccc;
    border-radius: $border-radius-x-md;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
 
    img {
        width: 20px;
        height: 20px;
    }
 
    span {
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 14px;
        color: $breadcrumb-title;
        margin-top: 3px;
    }
 
    .filter-count-badge {
        position: absolute;
        top: -12px;
        right: -7px;
        width: 20px;
        height: 20px;
        font-family: $font-family-main;
        background: $color-primary;
        color: $color-white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
    }
}
 
@media screen and (max-width: 512px) {
    .add-worker-btn {
        min-width: auto;
        padding: 12px;
 
        span {
            display: none;
        }
    }
}
 
 
.header-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 10px;

    .header-search-input {
        width: 200px;
        height: 36px;
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        background-color: $color-white;

        .app-input-wrapper {
            margin-bottom: 0;
            flex: 1;
            width: 100%;
        }

        .search-input-field {
            border: none;
            outline: none;
            flex: 1;
            padding: 0;
            margin: 0;
            background: transparent;
            font-size: 14px;
            height: auto;

            &:focus {
                box-shadow: none;
                border: none;
            }
        }
    }

    .company-label {
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 14px;
        color: $breadcrumb-title;
        white-space: nowrap;
    }
}
 
.header-actions .ant-input-affix-wrapper {
    height: 36px !important;
    display: flex;
    align-items: center;
 
    @media screen and (max-width: 512px) {
        max-width: 150px;
    }
}
 
.header-actions .ant-input-prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px !important;
}
 
.right-btn {
    min-width: 120px;
    height: 36px !important;
    border-radius: 10px !important;
    gap: 4px;
    padding: 12px;
    background-color: $color-primary;
    border: 1px solid $color-border-2;
 
    span {
        padding-top: 2px;
        font-weight: 500;
    }
 
    @media screen and (max-width: 512px) {
        width: auto;
        min-width: auto;
    }
}
 
.sync-btn {
    color: $color-primary !important;
    background-color: $menu-active-bg !important;
 
    &:hover {
        color: $color-primary !important;
        background-color: $menu-active-bg !important;
    }
}
 
 
@media screen and (max-width: 768px) {
    .header {
        padding: 10px 12px;
    }
 
    .header-content {
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
 
    .breadcrumb {
        flex-wrap: wrap;
        row-gap: 6px;
    }
 
    .breadcrumb-title h2 {
        max-width: 100%;
    }
 
    .header-actions {
        flex-wrap: wrap;
        justify-content: left;
        gap: 8px !important;
 
        .right-btn {
            justify-content: center;
        }
    }
}