@use "../../variables" as *;

.login-page {
max-width: 500px;
  .brand-name {
    font-size: 28px;
    font-family: "inter-bold";
    color: $primary;
    margin-bottom: 32px;
        text-align: center;
  }

  h3 {
 font-family: "inter-semibold";
    margin-bottom: 16px;
    font-size: 24px;
    color: #111;
    text-align: center;
  }

  p {
    font-family: "inter-regular";
    font-size: 18px;
    margin-bottom: 1.5rem;
    color: #667085;
        text-align: center;
  }
}
