@use "../../../../variables.scss" as *;

.submitted-users-container {
  .language-table {
    table {
      thead th {
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $table-head-bg;
        padding: 12px 16px;
        text-align: left;
      }

      tbody td {
        padding: 16px;
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $label-color;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 100px;
        min-width: 80px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        min-width: 200px;
      }

      th:nth-child(3),
      td:nth-child(3) {
        min-width: 220px;
      }

      th:last-child,
      td:last-child {
        text-align: center;
        width: 120px;
        min-width: 120px;
      }
    }
  }

  .submitted-users-srno {
    font-weight: 500;
    color: $label-color;
  }

  .submitted-users-name {
    font-weight: 500;
    color: $label-color;
  }

  .submitted-users-date {
    color: $label-color;
  }

  .submitted-users-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }
}
