@use '../../../../variables.scss' as *;

.profile-modal {
    .ant-modal-content {
        padding: 0;
        border-radius: 20px !important;
        border: 1px solid $color-border;
        box-shadow: 0 2px 8px $color-shadow;
        overflow: hidden;
        transition: transform 300ms ease-out, opacity 300ms ease-out;
        transform: scale(0.9);
        opacity: 0;
        max-height: 92vh;
        display: flex;
        flex-direction: column;
    }

    &.modal-enter .ant-modal-content {
        transform: scale(1);
        opacity: 1;
    }

    &.modal-exit .ant-modal-content {
        transform: scale(0.9);
        opacity: 0;
    }

    .ant-modal-container {
        max-height: 92vh;
        padding: 6px 0px;
        display: flex;
        flex-direction: column;
        background-color: $bg-light;
    }

    /* WRAPPER */
    .profile-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: $color-white;
        border-radius: 20px;
    }

    /* HEADER */
    .profile-header {
        position: sticky;
        top: 0;
        z-index: 2;
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $modal-header-border-bottom;
        background: $bg-light;
        padding: 6px 16px 10px;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            img{
                width: 24px;
                height: 24px;
            }
            h2 {
                color: $label-color;
                font-family: $font-family-main;
                font-weight: 600;
                font-size: 24px;
                letter-spacing: -3%;
                margin-bottom: 0;
            }
        }

        .close-icon {
            img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }

    /* FORM */
    .profile-form {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 5px 16px;
        background: $color-white;
        border-radius: 0 0 20px 20px;

        .ant-form-item-label>label {
            font-family: $font-family-main;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            letter-spacing: 1%;
            vertical-align: middle;
            color: $label-color;
        }

        .ant-form-item-label {
            padding: 0 0 4px;
        }

        input {
            height: 40px !important;
            border-radius: 14px;
            padding: 12px;
            border: 1px solid $color-border;
            background: $color-white;

            &::placeholder {
                color: #949CA9;
                font-family: $font-family-main;
                font-weight: 500;
                font-style: Medium;
                font-size: 14px;
            }
        }

        .sub-label {
            color: #949CA9;
            font-family: $font-family-main;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
        }
    }

    /* FOOTER */
    .profile-footer {
        position: sticky;
        bottom: 0;
        z-index: 2;
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $color-border;
        padding: 10px 16px 6px;
        background: $bg-light;
        gap: 10px;

        .cancel-btn {
            height: 40px;
            opacity: 1;
            border-radius: 12px;
            gap: 8px;
            padding: 10px 18px;
            font-family: $font-family-main;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1%;
            vertical-align: middle;
            cursor: pointer;
            background: $color-white;
            color: $subheading-color;
            border: 1px solid $input-border;
            box-shadow: none !important;

            &:hover,
            &:focus,
            &:active {
                background: $color-white !important;
                color: $subheading-color !important;
                border-color: $input-border !important;
                box-shadow: none !important;
            }
        }
    }
}

/* GLOBAL FORM FIXES */
.ant-checkbox-inner::after,
input[type="checkbox"]:not(.custom-checkbox)::after {
    border: none !important;
    background: none !important;
    content: none !important;
    box-shadow: none !important;
}

.ant-form-item-label label {
    display: inline-flex;
    align-items: center;
}

.ant-form-item-label label .ant-form-item-required-mark {
    order: 1;
    margin-left: 4px;
}