@use "../../../variables.scss" as *;

.shared-templates-table {
  .template-name {
    font-weight: 500;
    font-size: 14px;
    color: $color-dark;
    word-break: break-word;
  }

  .shared-workspace-actions {
    display: flex;
    border: none !important;
    gap: 12px;

    img {
      width: 22px;
      height: 22px;
      display: block;
      flex-shrink: 0;
    }
  }
}
