@use '../../variables.scss' as *;

.app-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.app-modal {
max-height: 92vh;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  animation: modalFadeIn 0.2s ease;


    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    scrollbar-width: none;

      -ms-overflow-style: none;
    &::-webkit-scrollbar-track {
      background: #f9fafb;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d1d5db;
      border-radius: 4px;

      &:hover {
        background: #9ca3af;
      }
    }
}

@keyframes modalFadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.app-modal-header {
  background-color: #F9FAFB;
  padding: 24px;
  border-bottom: 1px solid #1B32491F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;

  h3 {
    margin: 0;
    font-size: 24px;
    font-family:$font-family-main;
    font-weight: 600;
  }

  .close-btn {
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    color: #999;

    &:hover {
      color: #333;
    }
  }
}

.app-modal-body {
  padding: 20px;
  // overflow-y: auto;
}

.app-modal-footer {
  padding: 14px 16px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  background-color: #F9FAFB;
  border-radius:0 0 20px 20px;
}
