@use '../../../../variables.scss' as *;

// Scoped styles for Companies
.companies-container {
    .category-btn {
        display: flex;
        align-items: center;
        height: 40px;
        gap: 4px;
        padding: 10px 16px;
        border-radius: 8px;
        border: 1px solid #D5D7DA;
        background-color: #FFFFFF;
        font-family: "Inter";
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #414651;
        cursor: pointer;
    }

    .reported-row {
        background-color: $logout-hover;
    }

    .reported-action-btn {
        background-color: $logout-hover;
        padding: 4px;
        display: inline-block;
        min-height: 92px;

        img {
            display: block;
        }
    }

    // Table
    .language-table {
        table {
            border-collapse: separate;

            thead th {
                font-family: $font-family-main;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $color-gray-table;
                padding: 12px 16px;
                text-align: left;
            }

            tbody td {
                padding: 16px;
                text-align: left;
                font-family: $font-family-main;
                font-weight: 500;
                font-style: Medium;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 1%;
                color: $label-color;

                .cell-content {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }

            // Column widths
            th:nth-child(1),
            td:nth-child(1) {
                width: 288px;
            }

            th:nth-child(2),
            td:nth-child(2) {
                width: 240px;
            }

            th:nth-child(3),
            td:nth-child(3) {
                width: 280px;
            }

            th:nth-child(4),
            td:nth-child(4),
            th:nth-child(5),
            td:nth-child(5) {
                width: 120px;
            }

            td:last-child,
            th:last-child {
                text-align: center;
                width: 120px;
                padding: 0;
            }
        }
    }

    // Company Cell
    .company-cell {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .company-logo,
    .company-initial {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .avatar-initial {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: $font-family-main;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1%;
        text-align: center;
    }

    .company-info {
        display: flex;
        flex-direction: column;

        .company-name {
            font-family: $font-family-main;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1%;
            color: $label-color;

        }

        .company-email {
            font-size: 14px;
            color: $color-gray-table;
        }
    }

    .contact-cell {
        .contact-name {
            font-family: $font-family-main;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1%;
            color: $label-color;
        }

        .contact-email {
            font-family: $font-family-main;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.6%;
            color: $profile-email-color;
        }
    }


    // Actions
    .companies-actions img {
        cursor: pointer;
    }
}