body {
  background-color: #ffff;
  font-family: "inter";
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');


}

@font-face {
  font-family: 'Inter-bold';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;

}

@font-face {
  font-family: 'Inter-semibold';
  src: url('./assets/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;

}


@font-face {
  font-family: 'Inter-regular';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;

}

/* Full screen Spin overlay */
.full-screen-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // perfectly center
  background: rgba(255, 255, 255, 0.6); // semi-transparent overlay
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}